<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <script
            src="https://kit.fontawesome.com/eac52206dc.js"
            crossorigin="anonymous"
    ></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CodeFellowShip</title>
</head>
<body>

<div th:insert="fragments/nav :: nav"></div>


<div id="cover">
    <span id="one">Share your experiences and learn from others!</span><br>

    <span id="two">This website is for all developers to brainstorm and share anything related to programming, our goal is to create an environment where knowledge is available for everyone</span>
</div>


<div id="mainstuff">

    <div id="users">
        <h3>USERS</h3>
        <hr>
        <div th:each="user : ${users}">
            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" width="70px">
            <p th:text="${user.username}"></p>
            <a th:href="${'/users/'+user.id}"> profile</a>

           

            <hr>
        </div >
    </div>


<form id="form" sec:authorize="isAuthenticated()" action="/post"   method="POST">
    <label for="body">What do you want to share with us today?   </label><br>
    <textarea id="body" name="body" form="form" placeholder="Share your thoughts"></textarea>
    <input id="post" type="submit" value="post">
</form>


</div>


<div>
    <div  class="one-post" th:each="post : ${posts}">
<!--        <p><span th:text=${post.appUser.getUsername()}></span></p>:<br>-->
            <span th:text=${post.body}></span></p>
         <span th:text=${post.timestamp}></span>

    </div>
</div>


<footer></footer>
</body>
</html>